body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.designer {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.resizable {
    position: relative;
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.resizable.top-right {
    height: 50%;
    position: relative;
}

.resizable.bottom-right {
    height: calc(50% - 22px);
    margin-bottom: 12px;
    height: 50%;
    border-bottom: none;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: column;
}

.resizable.bottom-right > * {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    margin-right: 10px;
}

.resize-handle-vertical {
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    background-color: transparent;
    z-index: 10;
}

.resize-handle-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    background-color: transparent;
    z-index: 10;
}

.resultpage {
    position: relative;
    overflow: auto;
    background-color: cornflowerblue;
    border: 1px solid #ccc;
}

#aspectRatioSelector {
    position: absolute;
    top: 10px; /* 상단에서 10px 내려오도록 설정 */
    left: 10px; /* 좌측에서 10px 떨어지도록 설정 */
    z-index: 2; /* resultpage 위에 표시되도록 z-index 설정 */
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
}

#colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

#colorPicker, #hexColorInput {
    margin-bottom: 5px;
}

.custom-button {
    /* position: relative; */
    display: inline-block;
    resize: both;
    background-color: white;
    /* min-height: 50px;
    min-width: 50px; */
    max-height: 300px;
    max-width: 400px;
}

.custom-textbox {
    /* position: relative; */
    border: 1px solid #000;
    resize: both;
    background-color: white;
    /* min-height: 50px;
    min-width: 50px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    max-width: 400px;
}

.custom-textbox[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: grey;
    pointer-events: none;
}

.text-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.text-controls label, 
.text-controls input, 
.text-controls select, 
.text-controls button {
    margin: 0 5px;
}

#boldButton, 
#italicButton, 
#superscriptButton, 
#subscriptButton {
    font-weight: bold;
    margin-right: 5px;
}
