body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.designer {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.resizable {
    position: relative;
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.resizable.top-right {
    height: 50%;
    position: relative;
    background-color: #f0f0f0;
}

.resizable.bottom-right {
    width: calc(100% - 12px);
    height: calc(50% - 22px);
    margin-bottom: 12px;
    /* border-bottom: none; */
    overflow-x: hidden;
    /* white-space: nowrap; */
    display: flex;
    /* align-items: flex-start;  */
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.resizable.bottom-right > * {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    padding: 10px;
}

.resultpage {
    position: relative;
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

#aspectRatioSelector {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    width: 60px;
    height: 30px;
}

.resize-handle-vertical {
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    background-color: transparent;
    z-index: 10;
}

.resize-handle-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    background-color: transparent;
    z-index: 10;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.header span, .header button, .header a {
    flex-grow: 1; 
    text-align: center; 
    white-space: nowrap; 
}

.header span {
    font-size: 16px;
    padding: 10px;
    /* box-sizing: border-box; */
}

.header button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    /* box-sizing: border-box; */
}

.header button:hover {
    background-color: #ccc;
}

.content {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    grid-template-rows: auto auto;
    width: 100%;
    height: 80%;
    max-width: 600px;
    overflow-y: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.section input, .section select, .section button {
    width: 100%; 
    box-sizing: border-box; 
}

.section h2 {
    margin-top: 0;
}

.section-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
}

.section-button:hover {
    background-color: #ccc;
}

#colorPickerContainer {

    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between;
    flex-direction: column;
    align-items: flex-start; */
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-sizing: border-box;
    gap: 3px;
}


/* #colorPicker {
    margin-bottom: 5px;
    width: 70px;
}
#hexColorInput {
    margin-bottom: 5px;
    width: 100px;
} */


#window-buttons {
    max-height: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.window-button {
    background-color: #eee;
    border: 1px solid #ccc;
    /* margin: 5px 0; */
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px; 
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"], input[type="color"], select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="range"] {
    width: 100%;
}

#border {
    display: flex;
    justify-content: space-between;
}

#border input {
    width: 48%;
}

#zIndex {
    display: flex;
    justify-content: space-between;
}

#zIndex button {
    width: 48%;
    padding: 5px;
    cursor: pointer;
}

#zIndex button:hover {
    background-color: #ccc;
}

.custom-button {
    position: absolute;
    width: 20%;
    height: 15%;
    display: inline-block;
    resize: both;
    /* background-color: white; */
    max-height: 300px;
    max-width: 400px;
    /* font-size: 14px; */
    font-family: Arial, Helvetica, sans-serif;
    background-color:#0a0a23;
    color: #fff;
    /* border: none; */
    font-size: small;
    border-radius: 10px; 
}

.custom-button:hover {
    background-color: #1a1a4a;
}
.custom-button:active {
    background-color: #606094;
}

.custom-textbox {
    /* position: relative; */
    border: 1px solid #000;
    resize: both;
    background-color: white;
    /* min-height: 50px;
    min-width: 50px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    max-width: 400px;
}

.custom-textbox[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: grey;
    pointer-events: none;
}

.text-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.text-controls label, 
.text-controls input, 
.text-controls select, 
.text-controls button {
    margin: 0 5px;
}

#boldButton, 
#italicButton, 
#underlineButton,
#superscriptButton, 
#subscriptButton {
    font-weight: bold;
    margin-right: 5px;
    width: 30px;
    height: 20px; /* input, select, button 요소의 너비를 섹션 안으로 맞춤 */
    text-align: center;
}
/* 
#downloadButton {
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    font-size: small;
    border-radius: 10px; 
    min-height: 30px; 
    min-width: 30px;
    padding: 10px;
} */
/* 
#downloadButton:hover {
    background-color: #2a2a5d;
}
#downloadButton:active {
    background-color: #606094;
} */
/* 팝업 스타일 */
#loading_popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading_rectangle {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}

#loading_spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading_text, #result_text {
    margin-top: 10px;
}

#confirm_button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#editor_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editor_popup textarea {
    width: 100%;
    height: 200px;
}

#editor_popup button {
    display: block;
    margin: 10px auto 0;
}

.blur-background {
    filter: blur(5px);
}
