<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resizable Panels</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/gjr4lrn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://unpkg.com/blockly"></script>
    <script src="../static/node_modules/blockly/blockly_compressed.js"></script>
    <script src="../static/node_modules/blockly/blocks_compressed.js"></script>
    <script src="../static/node_modules/blockly/javascript_compressed.js"></script>
    <script src="../static/node_modules/blockly/msg/en.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/7g92spr1tld780gk2tnuebt1hzr9yvpe6nvc009p52waszmy/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="../static/script_function.js"></script>
    <script src="../static/script_design.js"></script>
    <script src="../static/script.js"></script>

</head>

<body>
    <div id="loading_popup">
        <div id="loading_rectangle">
            <div id="loading_spinner"></div>
            <div id="loading_text">Loading...</div>
            <div id="result_text"></div>
            <button id="confirm_button">Confirm</button>
        </div>
    </div>
    <div id="editor_popup" style="display:none;">
        <textarea id="tiny_editor"></textarea>
        <button id="apply_button">Apply</button>
    </div>
    <div class="background"></div>
    <div class="container">
        <!-- 버튼 추가 -->
        <div class="container" id="blocklyDiv" style="width: 100%; height: 100%; position: relative;">
        </div>
        <div class="designer">
            <div class="resize-handle-horizontal"></div>
            <div class="resizable top-right">
                <select id="aspectRatioSelector">
                    <option value="16:9" selected>16:9</option>
                    <option value="4:3">4:3</option>
                    <option value="1:1">1:1</option>
                </select>
                <div id="resultpage-container"></div>
            </div>
            <div class="resize-handle-vertical"></div>
            <div class="resizable bottom-right">
                <div class="header">
                    <span id="generalText">general</span>
                    <button id="generateCodeButton">generate code</button>
                    <button id="downloadButton">export files</button>
                    <a id="downloadLink" style="display: none;">Download</a>
                </div>
                <div class="content" style="display: grid">

                    <div class="section" id="windowsSection">
                        <h2 style="font-family: 'figtree', sans-serif;">Windows</h2>
                        <button id="addWindow" class="section-button">add window</button>
                        <button id="deleteWindow" class="section-button">delete window</button>
                        <div class="scrollable" id="window-buttons" style="overflow-x: auto; white-space: nowrap; margin-top: 10px;"></div>
                        <button id="colorPickerButton" style="display: grid">change background color</button>
                        <div id="colorPickerContainer" style="display: none;">
                            <input type="color" id="colorPicker">
                            <input type="text" id="hexColorInput" placeholder="#000000">
                            <button id="applyColorButton" style="font-family: 'figtree', sans-serif;">Apply</button>
                            <button id="closeColorPickerButton" style="font-family: 'figtree', sans-serif;">Close</button>
                        </div>
                    </div>

                    <div class="section" id="elementsSection">
                        <h2 style="font-family: 'figtree', sans-serif;">Elements</h2>
                        <button id="addButton" class="section-button">add button</button>
                        <button id="addTextBox" class="section-button">add textbox</button>
                        <button id="addText" class="section-button">add text</button>
                        <button id="deleteElement" class="section-button">delete element</button>
                    </div>

                    <div class="section" id="elementFormatterSection">
                        <h2 style="font-family: 'figtree', sans-serif;">Element Formatter</h2>
    
                        <label for="name-input">Element ID</label>
                        <input type="text" id="name-input" placeholder="Element ID">
    
                        <label for="background-color-input">Color</label>
                        <input type="color" id="background-color-input" title="Background Color">
    
                        <label for="border">Border</label>
                        <div id="border">
                            <input type="color" id="border-color-input" title="Border Color">
                            <input type="number" id="border-width-input" placeholder="Width" title="Border Width">
                            <input type="number" id="border-radius-input" placeholder="Radius" title="Border Radius">
                        </div>
    
                        <label for="element-background-opacity">Opacity</label>
                        <input type="range" id="element-background-opacity" min="0" max="100" title="Opacity">
    
                        <label for="zIndex">z-index</label>
                        <div id="zIndex">
                            <button id="z-index-up" title="Z-Index Up">▲</button>
                            <button id="z-index-down" title="Z-Index Down">▼</button>
                        </div>
                    </div>

                    <div class="section" id="textFormatterSection">
                        <h2 style="font-family: 'figtree', sans-serif;">Text Formatter</h2>

                        <label for="font-color-input">Text color</label>
                        <input type="color" id="font-color-input">

                        <label for="fontname-select">Font</label>
                        <select id="fontname-select">
                            <option value="Arial">Arial</option>
                            <option value="Courier New">Courier New</option>
                            <option value="Georgia">Georgia</option>
                            <option value="monospace">Monospace</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="Verdana">Verdana</option>
                        </select>
                        
                        <label for="font-size-input">Font Size</label>
                        <input type="number" id="font-size-input" placeholder="Font Size">
                        
                        <label>Text Format</label>
                        <div class="text-format-buttons">
                            <button id="boldButton">B</button>
                            <button id="italicButton">I</button>
                            <button id="underlineButton">U</button>
                            <button id="superscriptButton" onclick="setSuperscript();">X²</button>
                            <button id="subscriptButton" onclick="setSubscript();">X₂</button>
                        </div>
                    </div>
                </div>
                

                <!-- <button id="addWindow">Add Window</button>
                <button id="deleteWindow">Delete Window</button> -->
                <!-- <div id="window-buttons" style="overflow-x: auto; white-space: nowrap; margin-top: 10px;"></div>
                
                <button id="colorPickerButton">Change Background Color</button>
                <div id="colorPickerContainer" style="display: none;">
                    <input type="color" id="colorPicker">
                    <input type="text" id="hexColorInput" placeholder="#000000">
                    <button id="applyColorButton">Apply</button>
                    <button id="closeColorPickerButton">Close</button>
                </div> -->
                <!-- <button id="addButton">Add Button</button>
                <button id="addTextBox">Add Text Box</button>
                <button id="deleteElement">Delete Element</button> -->
                <!-- <button id="downloadButton">Download Files</button> -->
                <!-- <button id="generateCodeButton" style="position: absolute; top: 10px; left: 10px;">Generate Code</button> -->

                <!-- <div class="element-format">
                    <span>Element Format: </span> -->
                    <!-- <input type="color" id="border-color-input" title="Border Color">
                    <input type="number" id="border-width-input" placeholder="Border Width" title="Border Width">
                    <input type="number" id="border-radius-input" placeholder="Border Radius" title="Border Radius">
                    <input type="color" id="background-color-input" title="Background Color"> -->
                    <!-- <input type="range" id="element-background-opacity" min="0" max="100" title="Opacity">
                    <button id="z-index-up" title="Z-Index Up">Up</button>
                    <button id="z-index-down" title="Z-Index Down">Down</button> -->
                <!-- </div> -->

                <!-- <div class="text-controls">
                    <label for="name-input">Element ID:</label>
                    <input type="text" id="name-input" placeholder="Element ID"> -->
                     
                    <!-- <label for="text-input">Text:</label>
                    <input type="text" id="text-input" placeholder="Text"> -->

                    <!-- <label for="font-size-input">Font Size:</label>
                    <input type="number" id="font-size-input" placeholder="Font Size">

                    <label for="font-color-input">Font Color:</label>
                    <input type="color" id="font-color-input">

                    <label for="fontname-select">Font Family:</label>
                    <select id="fontname-select">
                        <option value="Arial">Arial</option>
                        <option value="Courier New">Courier New</option>
                        <option value="Georgia">Georgia</option>
                        <option value="monospace">Monospace</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Verdana">Verdana</option>
                    </select>

                    <button id="boldButton">B</button>
                    <button id="italicButton">I</button>
                    <button id="underlineButton">U</button>
                    <button id="superscriptButton" onclick="setSuperscript();">X²</button>
                    <button id="subscriptButton" onclick="setSubscript();">X₂</button>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>
